
body {
    background-image: url(./images/tea-background.jpg);
    /* width: 100vw; */
    /* height: 100vh; */
    /* background-position: bottom; */
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2 , p {
    text-align: center;
}

.tea-menu {
    background-color: rgba(228, 202, 168, 0.527);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tea-flavor {
    text-align: left;
}
